# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://TU-PROYECTO.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=TU_ANON_KEY

# Login simple obligatorio, si usás la versión con middleware
APP_USERNAME=admin
APP_PASSWORD=1234
