# Seguridad obligatoria de acceso a la app
# Cambiar estos datos por usuario y contraseña propios.
APP_USERNAME=admin
APP_PASSWORD=cambiar_esta_clave

# Más adelante se pueden agregar:
# NEXT_PUBLIC_SUPABASE_URL=
# NEXT_PUBLIC_SUPABASE_ANON_KEY=
# GOOGLE_MAPS_API_KEY=
